input:invalid {
  border: 2px dashed red;
}

#result p {
  font-size: 1.5em;
  margin: 2em 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#moveToTop {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0;

  p {
    font-size: 0.8em;
  }
}