<header>
  <h2>Escala Modified Checklist for Autism in Toddlers (M-CHAT)</h2>
</header>

<section>
  <form id="formQuestions">
    <fieldset #question1>
      <span>1 - Gosta de brincar ao colo fazendo de “cavalinho”, etc.?</span>
      <div>
        <input type="radio" id="1-sim" name="question1" value="sim" required>
        <label for="1-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="1-nao" name="question1" value="nao">
        <label for="1-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>2 - Interessa-se pelas outras crianças?</span>
      <div>
        <input type="radio" id="2-sim" name="question2" value="sim" required>
        <label for="2-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="2-nao" name="question2" value="nao">
        <label for="2-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>3 - Gosta de subir objectos, como por exemplo, cadeiras, mesas?</span>
      <div>
        <input type="radio" id="3-sim" name="question3" value="sim" required>
        <label for="3-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="3-nao" name="question3" value="nao">
        <label for="3-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>4 - Gosta de jogar às escondidas?</span>
      <div>
        <input type="radio" id="4-sim" name="question4" value="sim" required>
        <label for="4-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="4-nao" name="question4" value="nao">
        <label for="4-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>5 - Brinca ao faz-de-conta, por exemplo, falar ao telefone ou dar de comer a uma boneca, etc.?</span>
      <div>
        <input type="radio" id="5-sim" name="question5" value="sim" required>
        <label for="5-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="5-nao" name="question5" value="nao">
        <label for="5-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>6 - Aponta com o indicador para pedir alguma coisa?</span>
      <div>
        <input type="radio" id="6-sim" name="question6" value="sim" required>
        <label for="6-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="6-nao" name="question6" value="nao">
        <label for="6-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>7 - Aponta com o indicador para mostrar interesse em alguma coisa?</span>
      <div>
        <input type="radio" id="7-sim" name="question7" value="sim" required>
        <label for="7-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="7-nao" name="question7" value="nao">
        <label for="7-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>8 - Brinca apropriadamente com brinquedos (carros ou Legos) sem levá-los à boca, abanar ou deitá-los ao
        chão?</span>
      <div>
        <input type="radio" id="8-sim" name="question8" value="sim" required>
        <label for="8-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="8-nao" name="question8" value="nao">
        <label for="8-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>9 - Alguma vez lhe trouxe objectos (brinquedos) para lhe mostrar alguma coisa?</span>
      <div>
        <input type="radio" id="9-sim" name="question9" value="sim" required>
        <label for="9-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="9-nao" name="question9" value="nao">
        <label for="9-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>10 - A criança mantém contacto visual por mais de um ou dois segundos?</span>
      <div>
        <input type="radio" id="10-sim" name="question10" value="sim" required>
        <label for="10-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="10-nao" name="question10" value="nao">
        <label for="10-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>11 - É muito sensível aos ruídos (ex. tapa os ouvidos)?</span>
      <div>
        <input type="radio" id="11-sim" name="question11" value="sim" required>
        <label for="11-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="11-nao" name="question11" value="nao">
        <label for="11-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>12 - Sorri como resposta às suas expressões faciais ou ao seu sorriso?</span>
      <div>
        <input type="radio" id="12-sim" name="question12" value="sim" required>
        <label for="12-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="12-nao" name="question12" value="nao">
        <label for="12-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>13 - Imita o adulto (ex. faz uma careta e ela imita)?</span>
      <div>
        <input type="radio" id="13-sim" name="question13" value="sim" required>
        <label for="13-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="13-nao" name="question13" value="nao">
        <label for="13-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>14 - Responde/olha quando o(a) chamam pelo nome?</span>
      <div>
        <input type="radio" id="14-sim" name="question14" value="sim" required>
        <label for="14-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="14-nao" name="question14" value="nao">
        <label for="14-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>15 - Se apontar para um brinquedo do outro lado da sala, a criança acompanha com o olhar?</span>
      <div>
        <input type="radio" id="15-sim" name="question15" value="sim" required>
        <label for="15-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="15-nao" name="question15" value="nao">
        <label for="15-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>16 - Já anda?</span>
      <div>
        <input type="radio" id="16-sim" name="question16" value="sim" required>
        <label for="16-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="16-nao" name="question16" value="nao">
        <label for="16-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>17 - Olha para as coisas para as quais o adulto está a olhar?</span>
      <div>
        <input type="radio" id="17-sim" name="question17" value="sim" required>
        <label for="17-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="17-nao" name="question17" value="nao">
        <label for="17-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>18 - Faz movimentos estranhos com as mãos/dedos próximo da cara?</span>
      <div>
        <input type="radio" id="18-sim" name="question18" value="sim" required>
        <label for="18-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="18-nao" name="question18" value="nao">
        <label for="18-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>19 - Tenta chamar a sua atenção para o que está a fazer?</span>
      <div>
        <input type="radio" id="19-sim" name="question19" value="sim" required>
        <label for="19-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="19-nao" name="question19" value="nao">
        <label for="19-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>20 - Alguma vez se preocupou quanto à sua audição?</span>
      <div>
        <input type="radio" id="20-sim" name="question20" value="sim" required>
        <label for="20-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="20-nao" name="question20" value="nao">
        <label for="20-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>21 - Compreende o que as pessoas lhe dizem?</span>
      <div>
        <input type="radio" id="21-sim" name="question21" value="sim" required>
        <label for="21-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="21-nao" name="question21" value="nao">
        <label for="21-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>22 - Por vezes fica a olhar para o vazio ou deambula ao acaso pelos espaços?</span>
      <div>
        <input type="radio" id="22-sim" name="question22" value="sim" required>
        <label for="22-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="22-nao" name="question22" value="nao">
        <label for="22-nao">Não</label>
      </div>
    </fieldset>

    <fieldset>
      <span>23 - Procura a sua reacção facial quando se vê confrontada com situações desconhecidas?</span>
      <div>
        <input type="radio" id="23-sim" name="question23" value="sim" required>
        <label for="23-sim">Sim</label>
      </div>
      <div>
        <input type="radio" id="23-nao" name="question23" value="nao">
        <label for="23-nao">Não</label>
      </div>
    </fieldset>

  </form>
</section>

<section>
  <button (click)="validateForm()">Calcular</button>
</section>

<section id="result" *ngIf="showResult">
  <div class="contrast">
    <p>Total de falhas: {{totalFails}}</p>
  </div>
</section>
<section id="moveToTop">
  <p><a href="#top">Mover para o topo</a></p>
</section>